[submodule "Mod/BlocklyProgramMod/web/closure-library"]
	path = Mod/BlocklyProgramMod/web/closure-library
	url = https://github.com/google/closure-library.git
[submodule "Mod/BlocklyProgramMod/web/blockly"]
	path = Mod/BlocklyProgramMod/web/blockly
	url = https://github.com/google/blockly.git
